.navbar {
    background-color: #000;
    width: 100%;
    height: 8rem;
    z-index: 0;
    position: fixed;
    
}

.logo {
    display: inline-block;
    height: 8rem;
    padding: 15px;
}

.logo img{
    height: 100%;
}

.nav-list{
    display: none;
    
}